<app-nav></app-nav>
<div class="container p-5  ">
    <h1 class="mt-4  text-shadow text-light" style="font-size: 3.6rem;">Welcome to Contact Manager!</h1>
    <div class="container  p-4 text-light text-shadow">
        <p style="font-size: 1.8rem;" class="">Contact Manager manages your Contact List in an efficient way.
            <br> You can easily create, read, update and delete any of your Contacts.
            <br> Only you can access your Contacts and nobody else!<br> We respect your privacy. <br>So,Let 's get Started!
        </p>
        <p style="font-size: 1.8rem;"><a routerLink="/register" style="text-decoration: none; color: white;" class="text-shadow">Join us by getting started with Contact Manager!</a></p>
    </div>
</div>